extends ../layout

block title
	title ЗВЕЗДОЧЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content
	a.back_link(href='/logout') Выход
	!= ' | ' + session.login
	.title.star ЗВЕЗДОЧЕТ
	.main_menu_block
		br
		b Пользователи:
		a(href='/auth/users')= ' редактировать'
		br
		br
		b Анонсы:
		a(href='/auth/news')= ' редактировать'
		br
		br
		b События:
		a(href='/auth/events')= ' редактировать'
		br
		br

		b Категории:
		a(href='/auth/categorys')= ' редактировать'
		br
		br

		b Спецпроекты:
		a(href='/auth/specials')= ' редактировать'
		br
		br

		b Журналы:
		a(href='/auth/magazines')= ' редактировать'
		br
		br
		hr
		br
		b Экспонаты:
		a(href='/auth/exhibits')= ' редактировать'
		br
		br
		b Коллекции:
		a(href='/auth/collects')= ' редактировать'
		br
		br
		b Залы:
		a(href='/auth/halls')= ' редактировать'
		br
		br
		b Команда:
		a(href='/auth/teams')= ' редактировать'
		br
		br
		b Филиалы:
		a(href='/auth/subsidiarys')= ' редактировать'
		br
		br
		b Вакансии:
		a(href='/auth/vacancys')= ' редактировать'
		br
		br
		b Партнеры:
		a(href='/auth/partners')= ' редактировать'
		br
		br
		b Услуги:
		a(href='/auth/services')= ' редактировать'
		br
		br
		hr
		br
		b Контакты:
		a(href='/auth/contacts')= ' редактировать'
		br
		br
		b Билеты и расписание:
		a(href='/auth/schedule')= ' редактировать'
		br
		br
		hr
		br
		b Галереи фотографий:
		a(href='/auth/gallerys')= ' редактировать'
		br
		br
		b Сувениры:
		a(href='/auth/catalogues')= ' редактировать'
		br
		br