extends ../layout

block title
	title= special.i18n.title.get(locale).toUpperCase()
block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/special.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/special.js' + version)

block content
	.content_outer#open
		.content_title= special.i18n.title.get(locale)
		.content_subtitle(style='background-image: url(' + (special.images[0].original)+')')
			.content_subtitle_inner= special.i18n.subtitle.get(locale)
			.content_decription: != special.i18n.description.get(locale)
			a.content_quiz(href="#open")
				if (special.url)
					span= __('Начать тест')
				else
					span= __('Посмотреть фотогалерею')

		if (special.url)
			.content_test!= special.url
		else
			.content_test.content_slider
				each image in special.images
					.content_photo
						//-.prev_arrow
						//-.next_arrow
						.content_image_hover(style='background-image: url(' + (image.original)+')')
						if (locale == 'ru' && !!image.description[0].value)
							.content_image_description= image.description[0].value
						else if (locale == 'en' && !!image.description[1])
							.content_image_description= image.description[1].value