extends ../layout

block title
	title= __('КОМАНДА')


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/team.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/team_mobile.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	//- script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/team.js' + version)



block content
	.content_title Команда
	.content_outer_block

		each team in teams
			.content_item
				if (team.path.thumb)
					.item_image(style='background-image: url('+team.path.thumb +')')
					.item_description
						if (team.title)
							.item_title= team.i18n.title.get(locale)
						if (team.position)
							.item_type= team.i18n.position.get(locale)

block scroll
	.content_scroll_items
		each team in teams
			.block_inner
				if (team.phone || team.email)
					.people_info
						if (team.title)
							.people_name= team.i18n.title.get(locale)
						if (team.position)
							.people_type= team.i18n.position.get(locale)
						if (team.phone)
							.people_phone= 'Телефон: ' + team.phone
						if (team.email)
							.people_email= 'E-mail: '
								a(href='mailto:'+team.email+'')=team.email