doctype html
html
	head
		include vars
		include header
	body
		include counters
		.main_block
			.header_block
				.columns_main_scrollerrus
				.header_block_inner
					.header_inner
						a.header_logo(href='/')
							img.logo_image(src='/images/design/logo.png')
							.logo_title= __('Государственный центральный музей современной истории России')
						.menu_block.left
							.menu_item_block
								a.menu_item.menu_empty= __('Музей')
								.menu_drop
									.drop_inner
										a.menu_item(href='/history')= __('История музея')
										a.menu_item(href='/exposure')= __('Экспозиция')
										a.menu_item(href='/collections')= __('Коллекции')
										a.menu_item(href='/team')= __('Команда')
										a.menu_item(href='/subsidiarys')= __('Филиалы')
							.menu_item_block
								a.menu_item(href='http://vm.sovrhistory.ru/sovremennoy-istorii-rossii/', target='_blank')= __('Виртуальный музей')
							.menu_item_block
								a.menu_item.menu_empty= __('События')
								.menu_drop
									.drop_inner
										a.menu_item(href='/news')= __('Анонсы')
										a.menu_item(href='/events/special')= __('Новости')
										a.menu_item(href='/events/exhibition')= __('Выставки')
										a.menu_item(href='/events/lecture')= __('Лекции')
										a.menu_item(href='/events/action')= __('Мероприятия')
							.menu_item_block
								a.menu_item.menu_empty= __('Посетителям')
								.menu_drop
									.drop_inner
										a.menu_item(href='/events/excursion')= __('Экскурсии')
										a.menu_item(href='/events/education')= __('Образовательные программы')
										a.menu_item(href='/events/teach')= __('Центр музейной педагогики')
										//- a.menu_item(href='/souvenirs')= __('Сувенирная продукция')
										a.menu_item(href='/schedule')= __('Билеты и расписание')
							.menu_item_block
								a.menu_item.menu_empty= __('Живая история')
								.menu_drop
									.drop_inner
										a.menu_item(href='/magazines')= __('Журнал')
										//- a.menu_item(href='/specials')= __('Спецпроекты')
							.menu_item_block
								a.menu_item(href='/contacts')= __('Контакты')
						.menu_block.right
							.social_block
								a(href='https://vk.com/sovr_history', target='_blank') 
								a(href='https://www.facebook.com/sovr.history', target='_blank') 
								a(href='https://twitter.com/sovrmuse', target='_blank') 
								a.inst(href='https://instagram.com/sovr.history', target='_blank') 
							.options_block
								.option.search 
								if (locale == 'ru')
									a.option.lang(href='/lang/en') EN
								else
									a.option.lang(href='/lang/ru') RU
				.search_block
					.search_inner
						input.search_input(type='text', placeholder= __('Найти...'))
						.search_result
							.search_context.exhibits
								.context_title= __('Экспонаты')
								.context_results_block
							.search_context.events
								.context_title= __('События')
								.context_results_block
			.content_block
				.content_up_block
					block content_up
				.content_columns_block
					.content_column.main
						.column_main_inner
							.columns_main_inner_block
								.columns_main_inner_block_inner
									block content
									.footer_block
										.footer_menu
											a.menu_item(href='/events/special')= __('Новости')
											a.menu_item(href='/events/exhibition')= __('Выставки')
											a.menu_item(href='/events/lecture')= __('Лекции')
											a.menu_item(href='/events/action')= __('Мероприятия')
											a.menu_item(href='/exposure')= __('Экспозиция')
											a.menu_item(href='/collections')= __('Коллекции')
											a.menu_item(href='/subsidiarys')= __('Филиалы')
											a.menu_item(href='/services')= __('Услуги')
											a.menu_item(href='/partners')= __('Партнерство')
											a.menu_item(href='/vacancys')= __('Вакансии')
											a.menu_item(href='/schedule')= __('Билеты и расписание')
											a.menu_item(href='/contacts')= __('Контакты')
										.footer_block_inner
											.footer_adress
												.footer_museum_title= __('Государственный центральный музей современной истории России')
												.footer_museum_phone +7 (495) 699-54-58
												a.footer_museum_email(href='mailto:museum@sovrhistory.ru') museum@sovrhistory.ru
												.footer_museum_address=  __('125009, г. Москва, Тверская ул., дом 21')
											.footer_shelude
												.day_shelude= __('Вторник, среда, пятница:')
												.time_shelude= __('с 11.00 до 19.00, касса до 18.30')
												.day_shelude= __('Четверг:')
												.time_shelude= __('с 12.00 до 21.00, касса до 20.30')
												.day_shelude= __('Суббота, воскресенье:')
												.time_shelude= __('с 11.00 до 19.00, касса до 18.30')
												.day_shelude= __('Понедельник — выходной день')

										.footer_rights='© 2015. ' + __('Все права защищены. Использование материалов сайта разрешено только с предварительного согласия правообладателей.')
											br
											b= __('Сайт находится в стадии бета-тестирования.')
										.footer_bureau
											span.nrdn_type= __('Дизайн и разработка —')
											a.nrdn_name(href='http://nrdn.ru', target='_blank')= __('Народный архитектор')
					.content_column.scroll
						block scroll