extends ../../layout
include ../forms.jade

block title
	title= 'Альбомы'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')
	link(rel='stylesheet', type='text/css', href='/build/css/eventslist.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')
	script(type='text/javascript', src='/build/js/eventslist.js')

block content
	a.back_link(href='/auth') < Назад
	.title= 'Альбомы'
	br
	a.add(href='/auth/albums/add') добавить альбом


	.main_menu_block
		each event in events
			.event(class= event.type + ' ' + event.categorys.join(' '))
				a.rm_event(href='#', id=event._id)= 'удалить '
				!=' | '
				a(href='/auth/albums/edit/' + event._id)= event.i18n.title.get('ru') ? event.i18n.title.get('ru') : 'Заголовок альбома |'

				a(href='/auth/albums/' + event._id + '/subjects') | единицы хранения
				if event.subjects.length > 0
					span(style='color: blue; padding-left: 5px;')= '[' + event.subjects.length + ']'
//-				span.object_options
					if event.ages.sub.length == 0
						img(src='/images/design/bus/obj_logo_1.gif').option.not_ages
					if event.images.length == 0
						img(src='/images/design/bus/obj_logo_2.gif').option.not_images
					if event.subjects.length == 0
						img(src='/images/design/bus/obj_logo_3.gif').option.not_subjects