extends ../layout

block title
	title= __('ФИЛИАЛЫ') + ' | ' + subsidiary.i18n.title.get(locale).toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/subsidiary.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/subsidiary.js' + version)


block content
	.content_title= subsidiary.i18n.title.get(locale)
	.subsidiary_menu
		.subsidiary_menu_inner
			.subsidiary_logo(style='background-image:url('+ subsidiary.logo.path +')')
			- var b = subsidiary.i18n.description.get(locale)
			- var c = b.replace("#exposure","<div class='anchor_base'><div id='exposure'></div></div>")
			- if (c != b)
				a(href="#exposure")= __('Экспозиция')
			- var d = c.replace("#excursion","<div class='anchor_base'><div id='excursion'></div></div>")
			- if (d != c)
				a(href="#excursion")= __('Экскурсии')
			- var e = d.replace("#schelude","<div class='anchor_base'><div id='schelude'></div></div>")
			- if (e != d)
				a(href="#schelude")= __('Режим работы')
			- var f = e.replace("#price","<div class='anchor_base'><div id='price'></div></div>")
			- if (f != e)
				a(href="#price")= __('Стоимость посещения')
			- var g = f.replace("#contacts","<div class='anchor_base'><div id='contacts'></div></div>")
			- if (g != f)
				a(href="#contacts")= __('Контакты')

	.content_body
		.content_text: != g



block scroll
	- function get_locale(option, lang) {var locale = option.filter(function(locale) { return locale.lg == lang })[0]; if (locale) {return locale.value } else {return ''} }
	.content_title= __('Государственный центральный музей современной истории России')
	.content_scroll_items
		each image in subsidiary.images
			.content_scroll_item
				img(src=image.thumb)
				- var description = get_locale(image.description, locale)
				if (description != '')
					.content_image_description: != description